*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root{
    --primary-color: #0088CC;
    --bg-color: #F5F5F5;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #0ea5e9, #6366f1); */
  /* background: linear-gradient(135deg, #111827, #1f2937); */
  background-color: var(--bg-color);
}

.login-card {
  background: white;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.login-logo {
  width: 70px;
  margin-bottom: 10px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #0ea5e9;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background: #0284c7;
}

.error-msg {
  color: red;
  margin-top: 1rem;
  font-size: 14px;
}
