*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --primary-color: #0088CC;
    --bg-color: #F5F5F5;
}

body{
    width: 100%;
    background-color: var(--bg-color);
    padding: 1rem;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.head img{
    width: 50px;
}

.head h1{
    font-size: 1.5rem;
}

main{
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 1.3rem 15px;
}

main form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}

.form-group input,
.form-group select {
  font-size: 1.05rem;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.form-group input:focus,
.form-group select:focus {
  border-color: var(--primary-color);
  outline: none;
}


/* Ceintures */
select.ceinture-blanche {
  background-color: #f5f5f5;
  border: 2px solid #ccc;
}

select.ceinture-jaune {
  background-color: #fff59d;
  border: 2px solid #fbc02d;
}

select.ceinture-orange {
  background-color: #ffcc80;
  border: 2px solid #fb8c00;
}

select.ceinture-verte {
  background-color: #a5d6a7;
  border: 2px solid #388e3c;
}

select.ceinture-bleue {
  background-color: #90caf9;
  border: 2px solid #1976d2;
}

select.ceinture-marron {
  background-color: #bcaaa4;
  border: 2px solid #5d4037;
}

select.ceinture-noire {
  background-color: #212121;
  border: 2px solid #000;
  color: #fff;
}




main .buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 2rem;
}

main #addParticipantBtn{
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
}

main #canceladdParticipantBtn{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}





/******************************************** Participant List *******************************************/

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.participants-table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

.participants-table th,
.participants-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.participants-table th {
  background-color: var(--primary-color);
  color: white;
}

.badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 400;
  display: inline-block;
}

/* Ceinture badges */
.badge{padding: 5px 10px;}
.badge.blanche { background: #f5f5f5; color: #363636;}
.badge.jaune { background: #fff59d; color: #fbc02d;}
.badge.orange { background: #ffcc80; color: #fb8c00;}
.badge.verte { background: #a5d6a7; color: #388e3c;}
.badge.bleue { background: #90caf9; color: #1976d2;}
.badge.marron { background: #bcaaa4; color: #5d4037;} 
.badge.noire { background: #212121; color: white;}

.delete-btn {
  border: solid 1px #e53935;
  background-color: white;
  color: #e53935;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn img{
  width: 20px;
}

.paiement-btn{
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  border: solid 1px #007bff;
  color: #007bff;
  background-color: white;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#editPartcipantForm{
  display: none;
}

#saveEditParticipantBtn, #savePaymentBtn{
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
}

#cancelEditParticipantBtn, #cancelPaymentBtn{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#paymentDiv {
  display: none;
  flex-direction: column;
  /* gap: 15px; */
}

#paymentDiv h2{
  margin-bottom: 1rem;
}

#paymentDiv h3{
  margin-top: 2rem;
}

#paymentsList {
  margin-top: 10px;
}

.payment-item {
  padding: 8px;
  background: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 6px;
  font-size: 0.9rem;
}

.search-div{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

#searchInput{
  padding: 10px; 
  width:100%; 
  border-radius: 5px;
  border: none;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
  max-width:300px;
}

.filter-btn{
  background: #ffffff;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.filter-btn img{
  width: 20px;
}

/* Filter panel popup */
.filter-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 20px 20px 0 0;
  display: none;
  z-index: 1000;
}

.filter-panel.active {
  display: block;
}

.filter-panel .form-group{
  margin-top: 1rem;
}

#applyFilters{
  background-color: var(--primary-color);
  color: white;
}


.payment-status {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.payment-status.paid {
  background-color: #2ecc71;
}

.payment-status.unpaid {
  background-color: #e74c3c;
}



/* Cards hidden on desktop */
.participants-cards {
  display: none;
}

/* Mobile layout */
@media (max-width: 768px) {
  .table-wrapper {
    display: none;
  }

  .participants-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .participant-card {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.268);
  }

  .participant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
  }

  .participant-name {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .participant-info {
    font-size: .95rem;
    color: #555;
    margin: 4px 0;
  }

  .participant-actions {
    margin-top: .8rem;
    display: flex;
    gap: 5px;
  }

  .participant-actions button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .participant-actions .delete-btn{
    width: 50%;
  }

  .participant-actions img{
    width: 20px;
  }
}




/**************************** Dashboard Style ****************************/


.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.2rem;
  margin-top: 2rem;
}

.dash-card {
  background: white;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  text-align: center;
  transition: transform 0.2s ease;
}

.dash-card:hover {
  transform: translateY(-3px);
}

.dash-title {
  /* font-size: 14px; */
  color: #666;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 1rem;
}

.dash-value {
  font-size: 22px;
  font-weight: bold;
}

/* Colors */
.revenue .dash-value { color: var(--primary-color); }
.paid .dash-value { color: #2ecc71; }
.unpaid .dash-value { color: #e74c3c; }
.total .dash-value { color: #6366f1; }

/* Chart style */
.chart-container {
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.chart-container canvas{
  margin-bottom: 3rem
}

.chart-container h3{
  margin-bottom: 12px;
  color: #666;
}



/***************************** NavBar Style *****************************/

#top {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 1.3rem 15px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#top.hide {
  transform: translateY(-100%);
  opacity: 0;
}


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  background: var(--bg-color);
  padding: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.496);
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 14px;
  border-radius: 10px;
  background: white;
  color: #111827;
  -webkit-tap-highlight-color: transparent;
}

.nav-btn img{
  width: 20px;
}

/* .nav-btn.active {
  background: #0ea5e9 !important; 
  color: white;
  box-shadow: 0 4px 8px rgba(14,165,233,0.3);
} */


.logout-btn{
    background-color: rgb(192, 79, 79);
    outline: none;
    border: none;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout-btn img{
  width: 20px;
}


/************************ landing-page Style  ***********************/

.landing-page {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #111827, #1f2937);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.landing-container {
  max-width: 400px;
  padding: 20px;
}

.landing-logo {
  width: 120px;
  margin-bottom: 20px;
}

.subtitle {
  opacity: 0.8;
  margin-bottom: 30px;
}

.landing-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn.install {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.1rem;
}



/********* Skeleton animation ********/
@keyframes shimmer {
  0% { background-position: -400px 0; }
  100% { background-position: 400px 0; }
}

.skeleton-card {
  height: 20px;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 6px;
}

.skeleton-card {
  height: 155px;
}

/* Hide cards while loading */
#participantsCards {
  display: none;
}
